<%= provide(:title,@user.name) %>
<div class="container">
  <div class="row jumbotron">
    <aside class="col-xs-5">
      <section class = "user-info">
        <h1>
          <%= gravatar_for @user %>
          <div><small><%= @user.name %></small></div></h1>
        <h3><small><%= @user.email %></small></h3>
      </section>
    </aside>
    <div class="col-xs-7 ">
      <% if @user.microposts.any? %>
        <div class="row">
          <h2 style="text-decoration-line: underline;color:#777777">Microposts (<%= @user.microposts.count %>)</h2>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        </div>
      <% end %>
    </div>
    <div class="center">
      <%= will_paginate @microposts %>
    </div>
  </div>
</div>

