<%= gravatar_for current_user %>
<h1><small><%= current_user.name %></small></h1>
<span><%= link_to "view my profile", current_user %></span>
<h3><small><%= current_user.email %></small></h3>
<span><%= pluralize(current_user.microposts.count,"micropost") %></span>